/* html,body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(lightblue, white);
   min-height: 100%
} 
*/

html{
  margin: 0;
  padding: 0;
  min-height: 100%
}

body{
  text-align: center;
  font-family: "Helvetica";
  margin: 0;
  padding: 0;
  background: white;
  color: #040098;
  min-height: 100%;
}

/* Nav bar */ 
.active{
  background-color: #9BCCFD;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C0FEFC;
  position: 0;
  width: 100%;
  z-index: 1000;
}
li {
  float: left;
}
li a {
  display: block;
  color: #040098;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #9BCCFD;
}